# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [1]:
def add_two(x):
    return x + 2
print(add_two)

<function add_two at 0x000001F217068280>

In [2]:
lambda x: x + 2

In [3]:
print(lambda x: x + 2)

<function <lambda> at 0x000001F217068430>

In [4]:
# IIFE - immediately invoked function expression
# Execute a lambda funtion immediately after creation
# Syntax: (lambda x,y,etc.: expression)(arg1,arg2, etc...)

(lambda x: x + 2)(10)

12

#### Saving to a Variable

In [8]:
named_lambda = lambda y: y + 2

print(named_lambda)

named_lambda(20)

<function <lambda> at 0x000001F217068790>

22

#### Multiple Inputs

In [6]:
def multiply(x, y, z):
    return x * y * z

multiply(5, 10, 2)

100

In [7]:
# As an IIFE
(lambda x, y, z: x*y*z)(5, 10, 2)

100

#### Passing a Function into a Function

In [11]:
def apply_func(f, name):
    """
    f -> function to execute
    name -> name to execute the function on
    """
    return f(name)


def get_first_letter(string):
    return string[0]


apply_func(get_first_letter, 'Tyler')

'T'

In [10]:
help(apply_func)

Help on function apply_func in module __main__:

apply_func(f, name)
    f -> function to execute
    name -> name to execute the function on

#### Passing a Lambda into a Function

In [12]:
# Call the apply_func function, pass in lambda function as f argument, pass in 'codingtemple' as name argument
apply_func(lambda string: string[-1], 'codingtemple')

'e'

In [13]:
apply_func(lambda string: string.upper(), "lower to upper")

'LOWER TO UPPER'

In [14]:
def string_to_upper(string):
    return string.upper()

apply_func(string_to_upper, "lower")

'LOWER'

#### Returning a Function from a Function

In [15]:
# Regular defined function
# Takes in a `num` argument
def create_multiplier(num):
    # Defines a locally scoped function that takes in an `x`
    def inner_func(x):
        # return x * the outer scopes num value
        return num * x
    # return the reference to the function defined within this create_multiplier function
    return inner_func

five_times = create_multiplier(5)
print(five_times)
five_times

<function create_multiplier.<locals>.inner_func at 0x000001F2170680D0>

In [16]:
five_times(10)

50

In [17]:
five_times(5)

25

In [18]:
some_value = 10

def my_func(x):
    inner_value = 100
    return x + some_value

my_func(5)
print(inner_value)

NameError: name 'inner_value' is not defined

In [19]:
print(inner_func)

NameError: name 'inner_func' is not defined

In [20]:
three_times = create_multiplier(3)

three_times(10)

30

In [21]:
print(three_times)

<function create_multiplier.<locals>.inner_func at 0x000001F217068B80>

In [22]:
# From python tutor
def create_multiplier(num):
    def inner_func(x):
        return x * num
    return inner_func
    
    
three_times = create_multiplier(3)
five_times = create_multiplier(5)

three_times(10)
five_times(10)

50

#### Returning a Lambda from a Function

In [23]:
# Create a function that takes in a num
def new_multiplier(num):
    # return the lambda function that takes in an x and will multiply x by outer scope's num
    return lambda x: num * x

five = new_multiplier(5)
print(five)

three = new_multiplier(3)
print(three)


print(five(10), three(10))

<function new_multiplier.<locals>.<lambda> at 0x000001F217148670>
<function new_multiplier.<locals>.<lambda> at 0x000001F21513B160>
50 30

#### If Statements within Lambdas

In [24]:
def do_something(num):
    if num > 10:
        return num * 2
    else:
        return num + 2
    
do_something(5)

7

In [25]:
# Ternary: value_if_true if condition else value_if_false
def do_something_again(num):
    return num * 2 if num > 10 else num + 2

do_something_again(5)

7

In [26]:
# lambda input(s): <value to return if true> if <condition> else <value to return if false>

# IIFE
(lambda num: num * 2 if num > 10 else num + 2)(5)

7

In [27]:
my_list = []
for x in range(0,100,2):
    if x % 5 == 0:
        my_list.append(x**2)
    else:
        my_list.append(x)
    
print(my_list)

[0, 2, 4, 6, 8, 100, 12, 14, 16, 18, 400, 22, 24, 26, 28, 900, 32, 34, 36, 38, 1600, 42, 44, 46, 48, 2500, 52, 54, 56, 58, 3600, 62, 64, 66, 68, 4900, 72, 74, 76, 78, 6400, 82, 84, 86, 88, 8100, 92, 94, 96, 98]

In [28]:
list_comp = [x**2 if x % 5 == 0 else x for x in range(0, 100, 2)]
print(list_comp)

[0, 2, 4, 6, 8, 100, 12, 14, 16, 18, 400, 22, 24, 26, 28, 900, 32, 34, 36, 38, 1600, 42, 44, 46, 48, 2500, 52, 54, 56, 58, 3600, 62, 64, 66, 68, 4900, 72, 74, 76, 78, 6400, 82, 84, 86, 88, 8100, 92, 94, 96, 98]

In [29]:
age = int(input('How old are you? '))

age_group = 'Senior' if age > 65 else 'Adult' if age > 18 else 'Child'

print(age_group)

How old are you? 31
Adult

In [30]:
if age > 65:
    age_group = 'Senior'
elif age > 18:
    age_group = 'Adult'
else:
    age_group = 'Child'
    
print(age_group)

Adult

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f' OR set up as an IIFE.</p>

In [32]:
f = lambda x: x ** 3
print(f)
print(f(10))


result = (lambda num: num ** 3)(5)
print(result)

<function <lambda> at 0x000001F217148790>
1000
125

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [33]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [34]:
# Function that we want to apply to each element in the list
def squared_minus_two(number):
    return number**2 - 2

# Random list
numbers = [12, 4, 5, 1, 7, 3, 9, 11]

# Create an empty list
new_nums = []
# Loop over the current numbers list
for num in numbers:
    # apply the function and save it to variable
    new_num = squared_minus_two(num)
    # Append the new num to our new list
    new_nums.append(new_num)
    
print(new_nums)

[142, 14, 23, -1, 47, 7, 79, 119]

In [35]:
# map(function, *iterable -> List, Tuple, String, Set, Dict, etc.)

list(map(squared_minus_two, numbers))

[142, 14, 23, -1, 47, 7, 79, 119]

In [36]:
x_values = [1, 2, 3, 4, 5, 6, 7]
y_values = [10, 12, 25, 23, 54, 21, 53]

def multiply(x, y):
    print(f"x={x}, y={y}")
    return x * y


list(map(multiply, x_values, y_values))

x=1, y=10
x=2, y=12
x=3, y=25
x=4, y=23
x=5, y=54
x=6, y=21
x=7, y=53

[10, 24, 75, 92, 270, 126, 371]

In [37]:
x_values = [1, 2, 3, 4, 5, 6, 7]
y_values = [10, 12, 25]

def multiply(x, y):
    print(f"x={x}, y={y}")
    return x * y


list(map(multiply, x_values, y_values))

x=1, y=10
x=2, y=12
x=3, y=25

[10, 24, 75]

#### Using Lambda's with Map

In [38]:
# def squared_minus_two(number):
#     return number**2 - 2

numbers_again = [4, 7, 9, 2, 6, 1, 13]

list(map(lambda number: number**2 - 2, numbers_again))

[14, 47, 79, 2, 34, -1, 167]

In [42]:
x_vals = [1, 2, 3, 4, 5]
y_vals = [10, 20, 30, 40, 50]

list(map(lambda a, b: b//a, x_vals, y_vals))

[10, 10, 10, 10, 10]

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number if it is even and halve it if it is odd</p>

In [40]:
list1 = [2, 17, 15, 22, 31, 13, 21]

list(map(lambda x: x * 2 - 1, list1))

[3, 33, 29, 43, 61, 25, 41]

In [46]:
numbers = range(1,11)

list(map(lambda num: num * 2 if num%2==0 else num / 2, numbers))

[0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5, 20]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [47]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [48]:
# List of names
names = ['Bob', 'Andy', 'Allison', 'Bill', 'Max', 'Amy', 'Brianna']

def starts_with_a(name):
    return name[0].upper() == 'A'
#         return True
#     else:
#         return False
    
# create a new list by applying starts_with_a to every name in names    
a_names_map = list(map(starts_with_a, names))
print(a_names_map)

[False, True, True, False, False, True, False]

In [49]:
#Syntax: filter(function_to_apply, iterable -> List,tuple,Set,Dict,String, etc...)
a_names_filter = list(filter(starts_with_a, names))
print(a_names_filter)

['Andy', 'Allison', 'Amy']

In [50]:
def remainder(num):
    # takes in a number and returns the remainder after dividing by 3
    return num % 3

my_nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(remainder, my_nums))
# Returns a list of integers [1,2,0,...]

[1, 2, 0, 1, 2, 0, 1, 2, 0, 1]

In [51]:
list(filter(remainder, my_nums))
# Returns the values from the original list if the return value from remaind(num) evaluates to True

[1, 2, 4, 5, 7, 8, 10]

In [56]:
for i in range(-10, 11):
    print(i, bool(i))

-10 True
-9 True
-8 True
-7 True
-6 True
-5 True
-4 True
-3 True
-2 True
-1 True
0 False
1 True
2 True
3 True
4 True
5 True
6 True
7 True
8 True
9 True
10 True

#### Using Lambda's with Filter()

In [57]:
list(filter(lambda name: True if name[0].upper() == 'B' else False, names))

['Bob', 'Bill', 'Brianna']

In [58]:
list(filter(lambda name: name[0].upper() == 'B', names))

['Bob', 'Bill', 'Brianna']

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [65]:
from statistics import mean

list_a = [76, 100, 6, 23, 30, 81, 31, 87, 2, 93, 57, 64, 41, 85, 51, 10, 17, 79, 23, 22]

print(mean(list_a))

list(filter(lambda num: num > mean(list_a), list_a))

48.9

[76, 100, 81, 87, 93, 57, 64, 85, 51, 79]

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

In [66]:
from functools import reduce

help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, sequence[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence,
    from left to right, so as to reduce the sequence to a single value.
    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the sequence in the calculation, and serves as a default when the
    sequence is empty.

In [68]:
reduce(lambda x, y: x + y, [1, 2, 3, 4, 5])

15

In [70]:
def add_nums(x, y):
    print('='*20)
    print(f"x: {x}")
    print(f"y: {y}")
    print(f"returns: {x + y}")
    return x + y


result_add = reduce(add_nums, [1, 2, 3, 4, 5])
print(result_add)

====================
x: 1
y: 2
returns: 3
====================
x: 3
y: 3
returns: 6
====================
x: 6
y: 4
returns: 10
====================
x: 10
y: 5
returns: 15
15

In [71]:
total = 0
for num in [1, 2, 3, 4, 5]:
    print(f"total: {total}, num: {num}")
    total += num
    
print(total)

total: 0, num: 1
total: 1, num: 2
total: 3, num: 3
total: 6, num: 4
total: 10, num: 5
15

#### Using Lambda's with Reduce()

In [83]:
list1 = [2, 4, 6, 8, 10]

In [84]:
result_lambda = reduce(lambda num1, num2: num1 * num2, list1)
print(result_lambda)

3840

In [85]:
prod = 1
for num in list1:
    prod *= num
    
print(prod)

3840

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

In [86]:
result_lambda1 = reduce(lambda x,y: x*y,[1,2,3,4,5] )
print(result_lambda1)

120

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

In [4]:
import time

def capitalize(name):
    # takes in a name, upper cases the first letter, lower cases the rest
    return name[0].upper() + name[1:].lower()

def full_name(first, last):
    time.sleep(5)
    # Takes in a first name, calls the capitalize function on first, takes in last name, calls capitalize on last
    # and return concatenated string of first + space + last
    return capitalize(first) + ' ' + capitalize(last)
    

def greet_person(first_name, last_name, day_of_week):
    # Takes in first_name, last_name, and a day of the week
    print('Hello')
    # Sets the person_full_name variable to the return value when full_name function is called by passing in first_name, last_name
    person_full_name = full_name(first_name, last_name)
    print(f"Hello {person_full_name}, it sure is cold on this {capitalize(day_of_week)}")
    
    
greet_person('tyler', 'miller', 'Monday')

Hello
Hello Tyler Miller, it sure is cold on this Monday

In [5]:
def func_one():
    time.sleep(10)
def func_two():
    func_one()
    print("done")
    
func_two()

done

#### Implementing a Base Case

In [6]:
def add_nums(num):
    # The base case
    if num <= 1:
        print(f"add_nums({num}) = {num}")
        return num
    else:
        print(f"add_nums({num}) = {num} + add_nums({num - 1})")
        return num + add_nums(num - 1)
    
    
add_nums(5)

add_nums(5) = 5 + add_nums(4)
add_nums(4) = 4 + add_nums(3)
add_nums(3) = 3 + add_nums(2)
add_nums(2) = 2 + add_nums(1)
add_nums(1) = 1

15

Hello
Hello Tyler Miller, it sure is cold on this Monday

#### Writing a Factorial Function

In [7]:
# 5! = 5 * 4!
# 4! = 4 * 3!
#...
# 1! = 1


def factorial(num):
    output = 1
    while num > 0:
        output *= num
        num -= 1
    return output


factorial(5) # 120

120

In [9]:
def factorial(num):
    # Set up base case that when num is 1 or less it returns num
    if num <= 1:
        return 1
    # Otherwise, the factorial of num = num * factorial(num - 1)
    else:
        return num * factorial(num - 1)
    
    
factorial(5)

120

#### In-Class Exercise #5 <br>
<p>Write a recursive function that subtracts all numbers to the argument given.</p>

In [11]:
def subtract_num(num):
    if num <= 1:
        return num
    return num - subtract_num(num - 1)

subtract_num(10)

5

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

In [19]:
lengths = map(len, ['Tyler', 'Miller', 'Coding Temple'])

print(lengths)

<map object at 0x000001835E4E77C0>

In [20]:
for item in lengths:
    print(item)

5
6
13

In [21]:
for l in lengths:
    print(l)

In [16]:
help(iter)

Help on built-in function iter in module builtins:

iter(...)
    iter(iterable) -> iterator
    iter(callable, sentinel) -> iterator

    Get an iterator from an object.  In the first form, the argument must
    supply its own iterator, or be a sequence.
    In the second form, the callable is called until it returns the sentinel.

In [22]:
help(next)

Help on built-in function next in module builtins:

next(...)
    next(iterator[, default])

    Return the next item from the iterator. If default is given and the iterator
    is exhausted, it is returned instead of raising StopIteration.

In [23]:
a_new_list = [2, 3, 4, 5, 6, 7, 8]

list_iter = iter(a_new_list)

In [24]:
print(list_iter)

<list_iterator object at 0x000001835E4E7F40>

In [32]:
next(list_iter)

StopIteration:

In [ ]:
for x in list_iter:
    print(x)

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [33]:
def my_range(start, stop, step=1):
    while start < stop:
        return start
        start += step
        
my_range(0, 10)

0

In [35]:
def my_range(start, stop, step=1):
    while start < stop:
        yield start
        start += step
        
y = my_range(0, 10)
print(y)

<generator object my_range at 0x000001835E4FF740>

In [46]:
next(y)

StopIteration:

In [47]:
for x in my_range(10,50,2):
    print(x)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [48]:
my_gen = my_range(10,100,10)

In [52]:
next(my_gen)

40

In [53]:
def my_range(stop, step=1):
    start = 0
    while start < stop:
        yield start
        start += step
        
for x in my_range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

#### Infinite Generator

In [54]:
# bad, never create infinite loops

def infinite(x):
    while True:
        yield x
        x += 1
    
    
infinite_gen = infinite(1)

In [256]:
next(infinite_gen)

202

#### In-Class Exercise #6 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

In [ ]:
def squared_nums(num):
    
    for num in my_gen(10)
        if num 
        print(num)

    

    
#100
#81
#64
#49
#36
#25
#16
#9
#4
#1

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [82]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]

result1 = list(filter(lambda x: x != "" and x != " " and x != "  ", places))
print(result1)

['Argentina', 'San Diego', 'Boston', 'New York']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [274]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]

author.sort(key=lambda x: x.split()[-1].lower())
print(author)

['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]
`

In [261]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angelos",44),("Miami",29)]

converted = list(map(lambda t: (t[0], t[1] * 9/5 + 32), places))

print(converted)

[('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8`

In [273]:
def fib(num):
    if num < 2:
        return 1
    return fib(num - 2) + fib(num - 1)
fib(10)

89

### Excercise #5 

Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.

In [268]:
def squared_nums(num):
    while num >= 0:
        yield num ** 2
        num -= 1
        
    
for num in squared_nums(10):
        print(num)

    

    
#100
#81
#64
#49
#36
#25
#16
#9
#4
#1

100
81
64
49
36
25
16
9
4
1
0